body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  #grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
  }
  .search_bar {
    display: none;
  }
  header,
  footer {
    grid-column: 1/4;
    background-color: #869dc7;
    color: #00005d;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .header-background {
    background-image: url("../images/lighthouse_logo.jpeg");
    background-repeat: no-repeat;
    height: 130px;
    font-size: 150%;
    padding-left: 155px;
  }
  aside,
  main {
    grid-row: 2/4;
    height: 80vh;
  }
  aside {
    border-right: 2px solid black;
    background-color: #b3c7e6;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav ul li {
    list-style-type: none;
    background-color: #e7cad9;
    border-bottom: 1px solid whitesmoke;
    padding: 20px 25px;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
  }
  nav ul li:hover {
    background-color: #eaeaea;
    color: #00005d;
  }
  main {
    background-color: #fff;
    display: grid;
    grid-template-columns: 74% 26%;
    height: auto;
  }

  main > img {
    margin-top: 30px;
    margin-right: 20px;
    width: 15rem;
  }
  
  main div {
    padding: 10px;
  }
  main h2 {
    color: #869dc7;
    letter-spacing: 1px;
  }
  footer {
    justify-content: center;
  }
  .mobile-image {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    #grid-container > * {
      grid-column: 1/4;
      grid-row: unset;
    }
    aside {
      height: auto;
      background-color: #b3c7e6;
      justify-content: center;
    }
    nav ul {
      padding: 0;
      margin: 0;
      display: grid;
      grid-auto-flow: column;
      gap: 40px;
    }
    nav ul li {
      list-style-type: none;
      background-color: #e7cad9;
      border-bottom: 1px solid whitesmoke;
      padding: 20px 25px;
      color: white;
      letter-spacing: 2px;
      font-size: 16px;
    }
    main {
      grid-template-columns: 65% 35%;
      padding-right: 5vh;
    }
  }
  
  @media screen and (max-width: 430px) {
    #grid-container > * {
      grid-column: 1/3;
    }
    .search_bar {
      display: flex;
      background: linear-gradient(360deg, #2d3436 25%, #d3d3d3 150%);
      text-align: center;
      padding: 10px;
      height: 10vh;
      align-items: center;
    }
    .search_bar input[type="text"] {
      width: 100%;
      padding: 8px 10px;
      border-radius: 10px;
      border: none;
    }
    .header-background {
      background-color: #869dc7;
      color: #00005d;
      font-size: 140%;
      background-position: right;
      padding: 10px;
      display: flex;
      align-items: center;
      background-position-x: 18rem;
    }
    aside {
      width: 100%;
    }
    nav {
      width: 100%;
    }
    nav ul {
      display: grid;
      grid-auto-flow: row;
      gap: 0px;
    }
    nav ul li {
      background-color: #b3c7e6;
    }
    .desktop-image {
      display: none;
    }
    .mobile-image {
      display: inline;
    }
  
    main .content {
      width: 90vw;
    }
    main .content div:last-child {
      width: 100%;
      text-align: center;
    }
  }
  